<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-6">
        <div class="row">
                            <div>
                                <form role="form">
                                    <div class="form-group"><label>Sympotms</label> <textarea type="text" placeholder="Symptoms here" class="form-control"></textarea></div>
                                    <div>
                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                    </div>
                                </form>
                            </div>
                        
                        </div>
    </div>
    <div class="col-sm-3">
        
    </div>
    <div class="col-sm-3">
        
    </div>

</div>

